body{
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.off {
    display: none; /* Hidden by default */
 
}
form:not(.off){
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    display: flex;}
form > input{
    position: absolute;
    left: 30dvw;
    height: 10dvh;
    width: 20dvw;
}
form > button{
    position: absolute;
    left: 55dvw;
    width: 10dvw;
    height: 3dvh;
}
ul{
    width: 100%;
    height: auto;
}
side-bar ul li:hover{
    background-color: gray;
}
#task-title{
    position: absolute;
    left: 35dvw;
    top:10dvh
}
#descrpition,#descrpition-label,#priorty,#input-task,#input-task-label,#priorty-label,#due-date,#due-date-label,#submit-task{
    position: absolute;
}
#descrpition{
    left: 30dvw;
    top: 50dvh;
}
#descrpition-label{
    left: 14dvw;
    top: 50dvh;
}
#priorty{
    left: 30dvw;
    top: 60dvh;
}
#priorty-label{
    left: 14dvw;
    top: 60dvh;
}
#task-label{
    left: 14dvw;
    
}
#due-date{
    top: 70dvh;
}
#due-date-label{
top: 70dvh;
left: 14dvw;
}
#input-task{
    top: 30dvh;
}
#input-task-label{
    top: 35dvh;
    left: 14dvw;
}
#submit-task{
    left: 55dvw;
}